@import url('https://fonts.googleapis.com/css2?family=Aeonik:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body {
    font-family: 'Aeonik', sans-serif;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/outfit-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@media (min-width: 1025px) {
    .test-container {
        display: none;
    }

    .desktop-warning {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f9f9f9;
        color: #333;
        font-size: 1.25rem;
        font-weight: 500;
    }
}